.header{
    width: 100%;
    border-bottom: 40px solid #2323ee;
}

h1{
  font-size: 5em;
  line-height: 1.4;
}

form{
  width: 200px;
  float: left;
}


input{
  float: left;
  clear: right;
}

canvas {
  display: block;
  float: left;
}
